
<div>
 
  <p class="product">Products </p>
    <ul  class="list-group">
    <li ><a routerLink="mobile-page"> Mobile </a></li>
    <li><a routerLink="computer-page">Computer</a></li>
    <li ><a routerLink="kitchen-page">Kitchen</a></li>
      </ul>
  </div>
 


<div>

  <p  class="product" data-toggle="collapse" data-target="#demo">Price<span class="caret"></span></p>
  <div id="demo" class="collapse">
    <ul class="list-group">
      <li><a routerLink="mobile-page"> Under $100 </a></li>
      <li><a routerLink="computer-page">$100 - $150</a></li>
      <li><a routerLink="kitchen-page">$150+</a></li>
    </ul>
  </div>
  </div>
<div>

  <p class="product" data-toggle="collapse" data-target="#demo2">Brand<span class="caret"></span></p>
  <div id="demo2" class="collapse">
    <ul class="list-group">
      <li><a routerLink="mobile-page">Apple </a></li>
      <li><a routerLink="computer-page">Samsung</a></li>
      <li><a routerLink="kitchen-page">Sony</a></li>
    </ul>
  </div>
</div>
