.card-container-phone {
  height: 600px;
}
ul {
  text-decoration: none;
}
li{
  float:left;
  text-align:center;

}
.thumbile {
  height: 100px;
  width: 150px;
  border: 1px solid grey;
}
.margin{
  margin-left:15px;
}
